<!DOCTYPE html>
<html lang="en">

<head>
	<title>Contact V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://pocpaymentserveserve.s3.amazonaws.com/payform.min.css">
</head>

<body>

	<div class="contact1">
		<div class="container-contact1">
			<div class="contact1-pic js-tilt" data-tilt>
				<img src="https://www.sports-4ever.com/wp-content/uploads/2018/08/Champion-Alpha-Mens-Running-Shoes-Navy.jpg" alt="IMG">
			</div>

			<form class="contact1-form validate-form" id="myForm">
				<span class="contact1-form-title">
					Comercio Your Shoes
				</span>						
				<div class="wrap-input1 validate-input">
					<div id="example1-card" class="input1">
					</div>
					<span class="shadow-input1" for="example1-card"></span>
				</div>



				<div class="container-contact1-form-btn">
					<button class="contact1-form-btn">
						<span>
							Pay S/ 45
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>



	<!--===============================================================================================-->
	<script src="https://pocpaymentserveserve.s3.amazonaws.com/payform.min.js"></script> 
	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-23581568-13');
	</script>

	<script>

		// Agregar la configuracion esta deberia ser obtenida de un archivo de configuracion en el server
		// y llenar el javascript

		var configuration = {
            sessionkey: '<%=sessionkey%>',
            channel: '<%=channel%>',
            merchantid: '<%=merchantid%>',
            recurrence: '<%=recurrence%>',
            purchasenumber: '<%=purchasenumber%>',
            amount: "<%=amount%>",
            callbackurl: 'http://localhost:8085/success',            
		};		
		var elementStyles = {
			base: {
				color: '#666666',
				fontWeight: 700,
				fontFamily: "'Montserrat', sans-serif",
				fontSize: '16px',
				fontSmoothing: 'antialiased',
				placeholder: {
					color: '#999999',
				},
				autofill: {
					color: '#e39f48',
				},
			},
			invalid: {
				color: '#E25950',
				'::placeholder': {
					color: '#FFCCA5',
				},
			},
		};
		// cargando la configuracion 
		// aqui deberia tener 
		payform.setConfiguration(configuration);
		var card = payform.createElement('card', elementStyles, 'example1-card');

		var form = document.getElementById('myForm');
        form.addEventListener('submit', function (e) {
            e.preventDefault();                                
            payform.createToken(card, {
                name: "<%=name%>",
                lastName: '<%=lastName%>',
                email: '<%=email%>',
                alias: 'no-alias',
                // installment: '0',
                // phoneNumber: '99887766',
                // currencyConversion: {
                //     accepted: true,
                //     amount: 3.22,
                //     currencyCode: "076",
                //     currencyCodeAlpha: "USD",
                //     eligibilityCode: "0",
                //     exchangeRate: 0.3065,
                //     exponent: 2,
                //     markup: 3.5,
                //     rateDate: "190829",
                //     rateSource: "Fintrax",
                //     rateTime: "142635",
                //     signature: "40754B853C83C0D23E9C510C9A118E6B8BDEDCC3",
                //     status: "Authorized",
                //     wholeSaleRate: 0.2961352657004831,
                // },
                // recurrence: {
                //     type: "fixedinitial",
                //     frequency: "quarterly",
                //     maxAmount: 100,
                //     amount: 10
                // }
            });
        });



	</script>

</body>

</html>